{% extends "Base/Base.html" %}

{% block title %}Welcome To Sms Identities{% endblock %}

{% block content %}
<div class="container">
  <div class="row"  style="margin-top: 150px;">
    <div class="col-sm-12 main" align="center">
    <div class="row" style="background:#ccc; color:#000; border: solid black 1px">
    	<div class="col-md-4">Native Name</div>
    	<div class="col-md-4">Entered At</div>
    	<div class="col-md-4">Entry Image</div>
    </div>
    </div>
  </div>

</div>
{% endblock %}